/* ============================================================
  OTHER TOOLS
============================================================ */


  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }

  #cd-vertical-nav{
    display: none;
  }

/* ============================================================
  SERVICE FRAMES
============================================================ */
.service-card .row p{
  display: none;
}

.service-light-bg{
  background-color: #4c909b;
  vertical-align: center;
}

.service-dark-bg{
  background-color: #4c909b;
}

.service-accordian .row{
 padding-top: 29px;
  padding-bottom: 10px;
}

.service-accordian h2{
  margin-top: -12px;
  color: #fff;
  margin-bottom: 0px;
  padding-left: 7px;
  padding-right: 7px;
}

.service-accordian p{
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.mobile-service{
    display: block;
}

.mobile-service p{
  font-family: 'Droid Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}



/* ============================================================
  LF FRAMES
============================================================ */

  #mobile-lf-img{
    width: 100vw;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; 
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .lf-button{
    width: 65px;
  }

   .service-button{
    width: 65px;
  }

/* ============================================================
  LOCATION FRAMES
============================================================ */


  #clouds{
  	display: none;
  }

  svg#bigTriangleColor{
  	display: block;
  }
  

  .ribbon-info{
  	display: none;
  }

  .ribbon-title{
  	display: none;
  }

  .service-wrap .mobile h2{
    font-size: 7vw;
  }

  .service-wrap .mobile img{
    height: 12vw;
  }

  .service-wrap-mobile{
    position: relative;
    z-index: 2;
    /*top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
  }

  .service-icon-fix{
    margin-left: -20px !important;
  }

  .service-card .service-wrap{
    background:none;
  }

  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 16px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }

 section.module.parallax {
  height: 0;
  background: none;
  }
  
  section.module.parallax-1 {
    background-image: none;
    background-color: none;
  }
  section.module.parallax-2 {
    background-image: none;
    background-color: none;
  }
  section.module.parallax-3 {
    background-image: none;
    background-color: none;
  }
  section.module.parallax-4 {
    background-image: none;
    background-color: none;
  }