
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}



section.module p {
  /*margin-bottom: 10px;*/
  /*font-size: 16px;*/
  /*font-weight: 300;*/
  color: #E0E0E0;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  position: relative;
  z-index: 3;
  background-color: #4d97b2;
}
section.module.parallax {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/locations/barbershop-eastlake.svg");
  background-color: #484c4d;
}
section.module.parallax-2 {
  background-image: url("../img/locations/barbershop-chula-vista.svg");
  background-color: #e8e8e8;
}
section.module.parallax-3 {
  background-image: url("../img/locations/barbershop-santee.svg");
  background-color: #484c4d;
}
section.module.parallax-4 {
  background-image: url("../img/locations/barbershop-state.svg");
  background-color: #e8e8e8;
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

