@media only screen and (max-width:70em) { 
  .mobile-service{
    display: block;
  }
  svg#bigTriangleColor{
  	display: block;
  }
  
  section.module.parallax {
    height: 0;
    background: none;
  }
}